.text{
    margin-bottom: 20px;
}
.author{
    margin-bottom: 20px;
}
label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 550;
    padding-bottom: 5px;
}