*{
  font-size: 20px;
}
.card {
    margin-top: 20px;
  }
  
  .btn-secondary {
    background-color: rgb(69, 66, 248);
  }
  
  .card-text {
    font-size: 15px;
    font-weight: bold;
  }
  
  .marks {
    font-size: 20px;
  }