*{
  text-align: center;
  align-items: center;
  font-size: 20px;
}
#downvote {
    margin-left: 6px;
    margin-right: 6px;
  }
.del{
  margin-left: 100px;
  text-align: center;
  align-items: center;
}